site_name: buckling-global-stringer
site_url: https://saullocastro.github.io/buckling-global-stringer/
docs_dir: docs
nav:
  - Home: index.md
  - API Reference: api/main.md
theme:
  name: material
  palette:
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
plugins:
  - search
  - mkdocstrings
